@charset "utf-8";
body

font-family: sans-serif;
.fieldsettext{box-align:center; }


    .box1 {
            float:none;
            border-color: black;
            width: 100px;
    }
    .box2 {
            float:left;
            border-color: black;
            width: auto;
    } .box3 {
            float:none;
            border-color: black;
            width: 100px;
    }
    .box4 {
            float:left;
            border-color: black;
            width: auto;
    } 
    .box5 {
             float:none; 
            border-color: black;
            width: 100px;
    }
    .box6 {
                 float:left;
             border-color: black;
             width: auto;
    }
    .box7{
        float:left;
        border-color: black;
        width: 100px;
    }
    .box8{
        float:left;
        border-color: black;
        width: auto;
    }



    


.profile {
    padding:8px;
    border: ipx solid #000000


}