@charset "utf-8";
body{
    font-family: sans-serif;
}
div{
    border: solid 8px black;
    box-sizing: border-box;

    text-align:center;
    line-height: 100px;
    font-weight: bold;
    font-size:60px;
    }
    .box2{
        float: none;
        width: auto;
        border-color:black;
    }
    .box3, .box4 {
        float:left;
        border-color: black;
        width: 10%;/**横幅10％**/
    }
    .box5, .box6 {
        float:left;
        border-color: black;
        width: 10%;/**横幅10％**/
    }

    


.profile {
    padding:8px;
    border: ipx solid #000000


}